/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

/* nav {
  display: flex;
  justify-content: space-between;
} */

/* .navs {
  align-items: center;
  display: flex;
  list-style: none;
}

.navs li {
  margin-left: 18px;
} */
